<div class="field">
  <label class="label">{{label}}</label>
  <div class="control">
    <input class="input"
           type="text"
           [formControl]="control"
           [ngClass]="{'is-danger': showErrors()}">
  </div>
  <ng-container *ngIf="showErrors()">
    <div class="help is-danger" *ngIf="control.errors.required">
      Value is required
    </div>
    <div class="help is-danger" *ngIf="control.errors.minlength">
      Value you entered is {{control.errors.minlength.actualLength}}
      characters long, but it must be at least {{control.errors.minlength.requiredLength}}
      characters.
    </div>
    <div class="help is-danger" *ngIf="control.errors.maxLength">
      Value entered is {{control.errors.maxLength.actualLength}} characters
      long, but cannot be longer than {{control.errors.maxLength.requiredLength}}
    </div>
    <div *ngIf="control.errors.pattern">Invalid format</div>
  </ng-container>
</div>
